.error {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error p {
    color: aquamarine;
    font-size: 5em;
    font-weight: 600;
}

.hide{
    display: none !important;
}

.flex{
    display: flex !important;
}

.goArrow, .backArrow{
    cursor: pointer;
    font-size: 5em;
    color: white;
}

.backArrow{
    float: left;
    margin-bottom: 50px;
}

.middle {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-left {
    width: 100%;
    padding: 2em;
}

.card-right {
    width: 100%;
    padding: 3em;
}

.card-right {
    background-color: #ddd;
}

.tilt-obj{
    clear: both;
}

.Typewriter{
    font-size: 5em;
    color: white;
    font-weight: 700;
}

@media (max-width: 767px) {
    .d-mobile-none {
        display: none;
    }
}