.calculator-form i.change-icon  {
    margin: 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: #333333;
    transition: 1s;
}

.calculator-form i.change-icon:hover  {
    transform: rotate(360deg);
}

.calculator-form select, .calculator-form input[type="number"] {
    height: 80px;
    border: none;
    padding: 20px;
}

.calculator-form select:focus, .calculator-form input[type="number"]:focus {
    outline: none;
}

.calculator-form select {
    float: left;
    width: 20%;
    border-left: #999 5px solid;
    border-top: #999 5px solid;
    border-bottom: #999 5px solid;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.calculator-form input[type="number"] {
    float: right;
    width: 80%;
    border-right: #999 5px solid;
    border-top: #999 5px solid;
    border-bottom: #999 5px solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.unity-convertion{
    text-align: right;
    font-weight: normal;
}

hr {
    height: 4px;
    border-radius: 80px;
    background: #999;
}

.updated-time{
    font-weight: lighter;
}


@media (max-width: 991px) {
    .calculator-form select {
        width: 30%;
    }

    .calculator-form input[type="number"] {
        width: 70%;
    }
}

@media (max-width: 478px) {
    .calculator-form select {
        width: 35%;
    }
    .calculator-form input[type="number"] {
        width: 65%;
    }
}

@media (max-width: 420px) {
    .calculator-form select, .calculator-form input[type="number"] {
        padding: 10px;
    }
    .calculator-form select {
        width: 40%;
    }
    .calculator-form input[type="number"] {
        width: 60%;
    }
}

@media (max-width: 338px) {
    .calculator-form select {
        width: 50%;
    }
    .calculator-form input[type="number"] {
        width: 50%;
    }
}
